@import "{{ site.theme }}";

.container {
  font-family: 'Times New Roman', Times, serif; /* Sets the font to Times New Roman */
  background-color: #f4f4f4;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}

h1 {
  border: 2px solid #333; /* Keeps the solid border */
  padding: 20px; /* Adds padding inside the box */
  background-color: blue; /* Sets the background color to blue */
  text-align: left; /* Aligns the text to the left */
  font-family: 'Times New Roman', Times, serif; /* Sets the font to Times New Roman */
  color: white; /* Sets the text color to white for contrast */
}

h2 {
  border: 2px solid #333; /* Keeps the solid border */
  padding: 20px; /* Adds padding inside the box */
  background-color: blue; /* Sets the background color to blue */
  text-align: left; /* Aligns the text to the left */
  font-family: 'Times New Roman', Times, serif; /* Sets the font to Times New Roman */
  color: white; /* Sets the text color to white for contrast */
}

h3 {
  border: 2px solid #333; /* Keeps the solid border */
  padding: 20px; /* Adds padding inside the box */
  background-color: blue; /* Sets the background color to blue */
  text-align: left; /* Aligns the text to the left */
  font-family: 'Times New Roman', Times, serif; /* Sets the font to Times New Roman */
  color: white; /* Sets the text color to white for contrast */
}

h4 {
  border: 2px solid #333; /* Keeps the solid border */
  padding: 20px; /* Adds padding inside the box */
  background-color: blue; /* Sets the background color to blue */
  text-align: left; /* Aligns the text to the left */
  font-family: 'Times New Roman', Times, serif; /* Sets the font to Times New Roman */
  color: white; /* Sets the text color to white for contrast */
}

a {
  color: #333; 
  text-decoration: none;
}

a:visited {
  color: #800080; 
}

a:hover {
  color: #0056b3;
}
