h1, h3 {
    text-align: center;
}

.left_div, .center_div, .right_div {
    display: inline-block;  
    width: 23%; 
    margin-right: 3%;  
    vertical-align: top;
}

figure {
  margin: 10; 
  text-align: center;
  font-style: italic;
  font-size: 0.75em;
}

.image-gallery {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;

}

.left_div {
  border-right: 1px solid red; /* Border between the left and center divs */
}

.center_div {
  border-right: 1px solid red; /* Border between the center and right divs */
}
.last_div {
    width: 100%;  
    clear: both;  
    margin-bottom: 20px;  
    text-align: right;  
    vertical-align: bottom;
}


